/* TODO: Make it awesome */

* {
  margin: 10px;
}

body{
  margin: 10px 30px;
  background: linear-gradient(-45deg, rgba(210, 143, 255, 0.5), rgba(255, 0, 242, 0.5),
  rgba(255, 0, 200, 0.5), rgba(230, 1, 251, 0.5));
  background-size: 600% 600%;
  animation: gradient 15s infinite;
  font-family: 'Baloo Bhaina 2', cursive;
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  padding: 20px;
}

h1 {
  font-size: 2em;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 40% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 40% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

table > td {
  padding-right: 30px;
}

table > th {
  padding-right: 30px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

